<cui-scroller class="flex-1">
    <cui-container class="m-8">
        <div class="flex gap-2 mb-4">
            <cui-badge color="primary" label="Primary"></cui-badge>
            <cui-badge color="accent" label="Accent"></cui-badge>
            <cui-badge color="success" label="Success"></cui-badge>
            <cui-badge color="warning" label="Warning"></cui-badge>
            <cui-badge color="danger" label="Danger"></cui-badge>
            <cui-badge color="dark" label="Dark"></cui-badge>
        </div>

        <div class="flex gap-2 mb-4">
            <cui-badge color="primary" size="large" label="Primary"></cui-badge>
            <cui-badge color="accent" size="large" label="Accent"></cui-badge>
            <cui-badge color="success" size="large" label="Success"></cui-badge>
            <cui-badge color="warning" size="large" label="Warning"></cui-badge>
            <cui-badge color="danger" size="large" label="Danger"></cui-badge>
            <cui-badge color="dark" size="large" label="Dark"></cui-badge>
        </div>

        <div class="flex gap-2 mb-4">
            <cui-badge color="primary" label="Primary" iconName="camera"></cui-badge>
            <cui-badge color="accent" label="Accent" iconName="camera"></cui-badge>
            <cui-badge color="success" label="Success" iconName="camera"></cui-badge>
            <cui-badge color="warning" label="Warning" iconName="camera"></cui-badge>
            <cui-badge color="danger" label="Danger" iconName="camera"></cui-badge>
            <cui-badge color="dark" label="Dark" iconName="camera"></cui-badge>
        </div>

        <div class="flex gap-2 mb-4">
            <cui-badge color="primary" size="large" label="Primary" iconName="camera"></cui-badge>
            <cui-badge color="accent" size="large" label="Accent" iconName="camera"></cui-badge>
            <cui-badge color="success" size="large" label="Success" iconName="camera"></cui-badge>
            <cui-badge color="warning" size="large" label="Warning" iconName="camera"></cui-badge>
            <cui-badge color="danger" size="large" label="Danger" iconName="camera"></cui-badge>
            <cui-badge color="dark" size="large" label="Dark" iconName="camera"></cui-badge>
        </div>

        <div class="flex gap-2 mb-4">
            <cui-badge [rounded]="true" color="primary" size="large" iconName="camera"></cui-badge>
            <cui-badge [rounded]="true" color="accent" size="large" iconName="camera"></cui-badge>
            <cui-badge [rounded]="true" color="success" size="large" iconName="camera"></cui-badge>
            <cui-badge [rounded]="true" color="warning" size="large" iconName="camera"></cui-badge>
            <cui-badge [rounded]="true" color="danger" size="large" iconName="camera"></cui-badge>
            <cui-badge [rounded]="true" color="dark" size="large" iconName="camera"></cui-badge>
        </div>

        <div class="flex gap-2">
            <cui-badge [rounded]="true" color="primary" label="1"></cui-badge>
            <cui-badge [rounded]="true" color="accent" label="2"></cui-badge>
            <cui-badge [rounded]="true" color="success" label="3"></cui-badge>
            <cui-badge [rounded]="true" color="warning" label="4"></cui-badge>
            <cui-badge [rounded]="true" color="danger" label="5"></cui-badge>
            <cui-badge [rounded]="true" color="dark" label="6"></cui-badge>
        </div>
    </cui-container>
</cui-scroller>