
<cui-scroller class="flex-1">
    <div class="flex flex-col gap-8 py-8">
        <div *ngFor="let mode of modes" class="flex flex-col gap-4 items-center justify-center">
            <div *ngFor="let color of colors" class="flex gap-2 justify-center items-center">
                <cui-button *ngFor="let size of sizes" [color]="color" [size]="size" [mode]="mode">
                    <cui-button-icon [name]="'camera'"></cui-button-icon>
                    <cui-button-label>{{ color }}</cui-button-label>
                </cui-button>
            </div>
        </div>
    </div>
</cui-scroller>
