<cui-modal-container>
    <cui-modal-header>GPDR</cui-modal-header>
    <cui-modal-body>
        <p class="text-base leading-relaxed text-dark-500 dark:text-dark-400">
            With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
        </p>
        <p class="text-base leading-relaxed text-dark-500 dark:text-dark-400">
            The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
        </p>
    </cui-modal-body>
    <cui-modal-footer>
        <cui-button class="ml-auto" color="dark" size="md" mode="flat" (click)="close()">
            <cui-button-text>Cerrar</cui-button-text>
        </cui-button>
    </cui-modal-footer>
</cui-modal-container>
