<div *ngFor="let color of colors">

    <div class="flex flex-row gap-4 items-center justify-center">
        <div class="flex flex-col gap-3 items-center">
            <cui-button [color]="color" size="xs" mode="regular" [rounded]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="sm" mode="regular" [rounded]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="regular" [rounded]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="regular" [rounded]="true" [disabled]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }} disabled</span>
            </cui-button>
            <cui-button [color]="color" size="lg" mode="regular" [rounded]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="xl" mode="regular" [rounded]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
        </div>
        <div class="flex flex-col gap-3 items-center">
            <cui-button [color]="color" size="xs" mode="regular">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="sm" mode="regular">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="regular">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="regular" [disabled]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }} disabled</span>
            </cui-button>
            <cui-button [color]="color" size="lg" mode="regular">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="xl" mode="regular">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
        </div>
        <div class="flex flex-col gap-3 items-center">
            <cui-button [color]="color" size="xs" mode="flat">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="sm" mode="flat">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="flat">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="flat" [disabled]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }} disabled</span>
            </cui-button>
            <cui-button [color]="color" size="lg" mode="flat">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="xl" mode="flat">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
        </div>
        <div class="flex flex-col gap-3 items-center">
            <cui-button [color]="color" size="xs" mode="outline">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="sm" mode="outline">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="outline">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="md" mode="outline" [disabled]="true">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }} disabled</span>
            </cui-button>
            <cui-button [color]="color" size="lg" mode="outline">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
            <cui-button [color]="color" size="xl" mode="outline">
                <i-tabler name="camera"></i-tabler>
                <span>{{ color }}</span>
            </cui-button>
        </div>
    </div>

</div>
