<cui-heading [level]="4">Ejemplo básico</cui-heading>
<cui-paragraph>
    En el ejemplo de abajo lo hemos llamado <b>window</b>.
    Una vez hecho el modal, allí donde se muestre el modal tendremos que inyectar el servicio
    <code>CuiModalService</code> del cual usaremos su método <code>show</code> para
    invocar al modal que creamos previamente.
</cui-paragraph>

<cooper-sandbox *ngIf="snippets$ | async as snippets">

    <cooper-sandbox-view>
        <cooper-modal-example-1-main></cooper-modal-example-1-main>
    </cooper-sandbox-view>
    <cooper-sandbox-snippet
        filename="main.html"
        language="html"
        [code]="snippets.MainComponentHtml"
    ></cooper-sandbox-snippet>
    <cooper-sandbox-snippet
        filename="main.ts" 
        language="typescript"
        [code]="snippets.MainComponentTs"
    ></cooper-sandbox-snippet>
    <cooper-sandbox-snippet
        filename="window.ts" 
        language="typescript"
        [code]="snippets.WindowComponentTs"
    ></cooper-sandbox-snippet>
    <cooper-sandbox-snippet
        filename="window.html" 
        language="html"
        [code]="snippets.WindowComponentHtml"
    ></cooper-sandbox-snippet>

</cooper-sandbox>