<cui-sidebar class="flex-1">
    <cui-sidebar-brand label="Cooper UI"></cui-sidebar-brand>
    <cui-sidebar-item label="Accordion" iconName="panorama-horizontal" routerLink="accordion" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Alert" iconName="box-model" routerLink="alert" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Avatar" iconName="mood-happy" routerLink="avatar" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Badge" iconName="ad" routerLink="badge" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Breadcrumbs" iconName="route" routerLink="breadcrumbs" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Button" iconName="box-model" routerLink="button" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Modal" iconName="box-model" routerLink="modal" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Mi dashboard" iconName="camera"></cui-sidebar-item>
    <cui-sidebar-item label="Mi dashboard 2" iconName="camera">
        <cui-badge color="primary" [rounded]="true" label="2"></cui-badge>
    </cui-sidebar-item>
    <cui-sidebar-divider></cui-sidebar-divider>
    <cui-sidebar-item label="Mi dashboard 3" iconName="camera">
        <cui-badge color="danger" [rounded]="true" label="new!"></cui-badge>
    </cui-sidebar-item>
    <cui-sidebar-item label="Mi dashboard 4" iconName="camera">
        <cui-sidebar-subitem label="Subitem 1" iconName="camera"></cui-sidebar-subitem>
        <cui-sidebar-subitem label="Subitem 2" iconName="camera"></cui-sidebar-subitem>
        <cui-sidebar-subitem label="Subitem 3" iconName="camera"></cui-sidebar-subitem>
        <cui-sidebar-subitem label="Subitem 4" iconName="camera"></cui-sidebar-subitem>
    </cui-sidebar-item>
    <cui-sidebar-spacer></cui-sidebar-spacer>
    <cui-sidebar-item label="Mi dashboard" iconName="camera">
        <cui-badge color="primary" [rounded]="true" label="2"></cui-badge>
    </cui-sidebar-item>
    <cui-sidebar-item *ngIf="lightModeIsEnabled$ | async" label="Enable dark mode" iconName="moon" (itemClicked)="enableDarkMode()"></cui-sidebar-item>
    <cui-sidebar-item *ngIf="darkModeIsEnabled$ | async" label="Enable light mode" iconName="sun" (itemClicked)="enableLightMode()"></cui-sidebar-item>
</cui-sidebar>