<cui-sidebar class="flex-1">
    <cui-sidebar-brand label="Cooper UI"></cui-sidebar-brand>
    <cui-sidebar-item label="Accordion" iconName="panorama-horizontal" routerLink="accordion" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Alert" iconName="box-model" routerLink="alert" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Avatar" iconName="mood-happy" routerLink="avatar" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Badge" iconName="ad" routerLink="badge" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Breadcrumbs" iconName="route" routerLink="breadcrumbs" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Button" iconName="box-model" routerLink="button" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-item label="Forms" iconName="forms">
        <cui-badge color="accent" [rounded]="true" label="new!"></cui-badge>
        <cui-sidebar-subitem label="Text" iconName="text-size" routerLink="form-text" routerLinkActive="active"></cui-sidebar-subitem>
    </cui-sidebar-item>
    <cui-sidebar-item label="Modal" iconName="box-model" routerLink="modal" routerLinkActive="active"></cui-sidebar-item>
    <cui-sidebar-spacer></cui-sidebar-spacer>
    <cui-sidebar-item *ngIf="lightModeIsEnabled$ | async" label="Enable dark mode" iconName="moon" (itemClicked)="enableDarkMode()"></cui-sidebar-item>
    <cui-sidebar-item *ngIf="darkModeIsEnabled$ | async" label="Enable light mode" iconName="sun" (itemClicked)="enableLightMode()"></cui-sidebar-item>
</cui-sidebar>