<cui-scroller>
    <cui-container class="my-8">
        <cui-accordion>
            <cui-accordion-item>
                <cui-accordion-item-label>
                    <span>Elemento 1 ipsum dolor sit amet consectetur adipisicing elit. Eligendi vel possimus suscipit porro illo, beatae ut? Architecto cumque il</span>
                    <cui-badge class="ml-2" color="success" label="Success"></cui-badge>
                </cui-accordion-item-label>
                <cui-accordion-item-body>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vel possimus suscipit porro illo, beatae ut? Architecto cumque illum provident est nulla, molestias modi hic officia porro, veniam ratione. Nulla!</cui-accordion-item-body>
            </cui-accordion-item>
            <cui-accordion-item>
                <cui-accordion-item-label>Elemento 2</cui-accordion-item-label>
                <cui-accordion-item-body>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quas? Cupiditate ducimus similique, reiciendis culpa nam voluptatum dolores vero animi incidunt ea, iure, magnam commodi blanditiis qui libero fugit laboriosam?</cui-accordion-item-body>
            </cui-accordion-item>
            <cui-accordion-item [openOnInit]="true">
                <cui-accordion-item-label>Elemento 3</cui-accordion-item-label>
                <cui-accordion-item-body>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam at laudantium veniam sed consequatur rerum reprehenderit dolorem aut expedita modi laborum minus non incidunt temporibus dolorum consectetur, harum quam a?</cui-accordion-item-body>
            </cui-accordion-item>
            <cui-accordion-item>
                <cui-accordion-item-label>Elemento 4</cui-accordion-item-label>
                <cui-accordion-item-body>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis molestias error totam eos delectus magni nostrum ab deleniti excepturi temporibus veritatis sequi, labore obcaecati a sunt in dolores. Magni, aspernatur?</cui-accordion-item-body>
            </cui-accordion-item>
            <cui-accordion-item>
                <cui-accordion-item-label>Elemento 5</cui-accordion-item-label>
                <cui-accordion-item-body>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam cum, quam tempore deleniti laborum dicta, quae explicabo nihil exercitationem natus quisquam cumque eum voluptatum rem quibusdam mollitia nesciunt velit. Est.</cui-accordion-item-body>
            </cui-accordion-item>
        </cui-accordion>
    </cui-container>
</cui-scroller>
