<div class="flex items-center justify-center gap-4 p-8 m-4">

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'xs'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'sm'"
        [statusColor]="'danger'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'md'"
        [statusColor]="'warning'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'lg'"
        
        [statusColor]="'success'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'xl'"
        [statusColor]="'primary'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'xxl'"
        [statusColor]="'accent'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [size]="'xxxl'"
        [statusColor]="'dark'"
    ></cui-avatar>

</div>

<div class="flex items-center justify-center gap-4 p-8 m-4">

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'xs'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'sm'"
        [statusColor]="'danger'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'md'"
        [statusColor]="'warning'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'lg'"
        [statusColor]="'success'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'xl'"
        [statusColor]="'primary'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'xxl'"
        [statusColor]="'accent'"
    ></cui-avatar>

    <cui-avatar
        [imgSrc]="'https://flowbite.com/docs/images/people/profile-picture-5.jpg'"
        [rounded]="false"
        [size]="'xxxl'"
        [statusColor]="'dark'"
    ></cui-avatar>

</div>
