<cui-scroller class="flex-1">
    <cui-container class="m-8">
        <cui-alert mode="info" [dismissible]="true" (dismissed)="alert()">
            <cui-alert-header>A simple info alert with an <a href="#">example link</a>. Give it a click if you like.</cui-alert-header>
            <cui-alert-body>
                <p>More info about this info alert goes here. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <div class="flex items-center mt-4 gap-2">
                    <cui-button size="sm">
                        <cui-icon name="eye" size="sm"></cui-icon>
                        <cui-button-label>View more</cui-button-label>
                    </cui-button>
                    <cui-button size="sm" mode="outline">
                        <cui-button-label>Dismiss</cui-button-label>
                    </cui-button>
                </div>
            </cui-alert-body>
        </cui-alert>
        <cui-alert mode="success" [dismissible]="true">
            <cui-alert-header>A simple info alert with an <a href="#">example link</a>. Give it a click if you like.</cui-alert-header>
        </cui-alert>
        <cui-alert mode="warning" [dismissible]="true">
            <cui-alert-header>A simple info alert with an <a href="#">example link</a>. Give it a click if you like. <cui-badge color="dark" label="Upgrade"></cui-badge></cui-alert-header>
        </cui-alert>
        <cui-alert mode="danger" [dismissible]="true">
            <cui-alert-header>A simple info alert with an <a href="#">example link</a>. Give it a click if you like.</cui-alert-header>
        </cui-alert>
    </cui-container>
</cui-scroller>
