<cui-scroller class="flex-1">
    <cui-container class="m-8">
        <cui-heading [level]="1">Modal</cui-heading>
        <cui-paragraph>
            Para crear un modal lo que haremos es crear un componente que herede de la clase
            <code>CuiModalComponent</code>. Esta clase tiene acceso a un método llamado
            <code>close</code> que nos permitirá cerrar el modal. El modal podemos formarlo
            usando los componentes <code>CuiModalContainer</code>,
            <code>CuiModalHeader</code>, <code>CuiModalTitle</code>, <code>CuiModalBody</code> y
            <code>CuiModalFooter</code>.
        </cui-paragraph>

        <cooper-modal-example-1></cooper-modal-example-1>

    </cui-container>
</cui-scroller>